.Fundo {
    width: auto;
    height: 150px;
    background-color: #C88A8A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 10px;
    font-weight: 500;
    color: #1E1E1E;

}
